#notes-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
	margin-right: 16px;
	margin-left: 16px;
}

@media (min-width: 300px) {
	#notes-container {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
}

#new-note {
	position: fixed;
	bottom: 32px;
	right:32px;

}


/* .note {
	padding:8px;
	background-color: #f5e76e;
	border-radius: 4px;
}

.note-header {
	background-color: springgreen;
	padding: 4px 4px;
}

.note-content {
	background-color: antiquewhite;
	min-height: 125px;
	padding: 8px 4px;
}

.note-footer {
	background-color: aqua;
	padding: 8px 4px;
	text-align: end;
} */